windows/Posy's Cursor/_info and instructions.txt
windows/Posy's Cursor/_install Posy Default.inf
windows/Posy's Cursor/Posy alt.cur
windows/Posy's Cursor/Posy background max 96.ani
windows/Posy's Cursor/Posy beam.cur
windows/Posy's Cursor/Posy cursor.cur
windows/Posy's Cursor/Posy forbidden.cur
windows/Posy's Cursor/Posy hand.cur
windows/Posy's Cursor/Posy help.cur
windows/Posy's Cursor/Posy move.cur
windows/Posy's Cursor/Posy pen.cur
windows/Posy's Cursor/Posy precise.cur
windows/Posy's Cursor/Posy size EW.cur
windows/Posy's Cursor/Posy size NeSw.cur
windows/Posy's Cursor/Posy size NS.cur
windows/Posy's Cursor/Posy size NwSe.cur
windows/Posy's Cursor/Posy wait max 96.ani
windows/Posy's Cursor/Posy's Cursor extras/_Manual install info.txt
windows/Posy's Cursor/Posy's Cursor extras/Posy beam Free Center.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy Black hand.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy Black move.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy hand dark skin.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy hand light skin.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy hand medium skin.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy hand wrong finger.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy mono person.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy mono pin.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy person.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy Pin.cur
windows/Posy's Cursor/Posy's Cursor extras/Posy precise v2.cur
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/_info.txt
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy background max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy background mono max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy Big backgroud max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy Big background max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy Black background max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy Black background mono max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy Black for 175 background max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy for 175 background max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy for 175 wait max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy Wait max 128.ani
windows/Posy's Cursor/Posy's Cursor extras/Max 128 versions/Posy wait mono max 128.ani
