/* ==== Config ==== */

/*
Feel free to change these values to whatever you want, as long
as they use the correct format.
*/

* {
  /* Accent color */
  --natsumi-accent-color: #cba6f7;

  /* pdf.js */
  --pdfjs-topbar-max-width: calc(100% - 10px); /* use calc(100% - 10px) for max width */

  /* FF home */
  --home-background-url: url('');
}